# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
.DS_Store
*.log
node_modules

# misc
.coverage
.vscode
coverage.xml
.ruff_cache
junit.xml
*,cover

# Home Assistant configuration
config/*
!config/configuration.yaml
